extends layout
include mixins/_pagination

block content
  if user
    .user-hello
      p=`Hello ${user.name || user.email}`
  .url__shorten
    p
      | Chhotu: Make your links 
      span.sexyRed sexy.
    |     
    .button
      input#url-field(type='text', placeholder='Enter your boring link..')
      |         
      button.button-shorten Submit
        |         
    .link__display
      #link
      |             
      #clipboard.fancy
  if user
    .url-table
      .header
        span="Your"
        span="Chotu"
        span="Links"
      table.table
        tr
          th Original Url
          th Shortened Url
          th Created at
          th Clicks
        if (urls.length>0)
          for url in urls
            tr
              td
                a(href=`http://${url.long_url}`)=url.long_url
              td
                a(href=`http://${url.shortUrl}`)=url.shortUrl
              td=url.timeDiff
              if(url.click==undefined)
                td='0 clicks'
              else 
                td=`${url.click} clicks`
        else
          tr
            td="No links yet! Get going."
      if count>limit
        +pagination(page,pages,count)
    script.
      
  
